.uiux-container:hover .uiux-text {
  color: #fff;
  transform: translateX(30px);
  transition: color 0.3s, transform 0.3s;
}

.uiux-container:hover .uiux-subtext {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s, transform 0.3s;
}

.uiux-container:hover .uiux-chibi {
  transform: translateX(-600px);
  transition: transform 0.3s;
}
