.panel-container {
  position: relative;
}

.sliding-panel {
  position: absolute;
  left: 0;
  top: 0;
  margin: var(--spacing-xl);
  transform: translateY(200px);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.3s, opacity 0.3s;
}

.panel-container:hover .sliding-panel,
.panel-trigger:focus + .sliding-panel {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

.panel-image {
  opacity: 1;
  transition: opacity 0.3s;
}

.panel-container:hover .panel-image {
  opacity: 0;
}
